<form>
         
                <div class="form-group">
                        <label for="email" >Email:</label>
                        <input id="email" type="text" placeholder="Email" class="form-control">
                    </div>
        
 
  <div class="form-group">
      <label for="Nombre">Nombre:</label>
      <input id="nombre" type="text" placeholder="Nombre" class="form-control">
  </div>
  <div class="form-group">
      <label for="Celular">Celular:</label>
      <input id="celular" type="text" placeholder="Celular" class="form-control">
  </div>
  <div class="form-group">
      <button class="btn btn-primary"> Registrar </button>
  </div>
</form> 