<form>
         
<div class="form-group">
     <label for="email" >Email:</label>
     <input id="email" name="email" type="text" placeholder="Email" [(ngModel)]="registro.email" class="form-control">
</div>
        
 
  <div class="form-group">
      <label for="Nombre">Nombre completo:</label>
      <input id="nombre" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="registro.fullName" class="form-control">
  </div>
  <div class="form-group">
      <label for="Celular">Celular:</label>
      <input id="celular" type="text" name="telefono" placeholder="Celular" [(ngModel)]="registro.telefono" class="form-control">
  </div>
  <div class="form-group">
      <button class="btn btn-primary"> Registrar </button>
  </div>
</form> 