<h1 class="text-center">
  WHEELS 4 STUDENTS
</h1>
<div class="row">


  <section class="col-md-4">
    <ul class="">
      <li class="">Viaja Facil de la universidad a tu casa</li>
      <li>Justo cuando necesites</li>
      <li>Sientete seguro</li>
      <li>Paga lo Justo</li>
      <li>Es mejor viajar con amigos</li>
      <li>Apoya al planeta</li> 
    </ul>
  </section>
  <section class="col-md-7">
    <!--img src="https://d3n8a8pro7vhmx.cloudfront.net/cowheels/pages/92/features/original/Student-2.jpg?1405341063" alt="w4s"-->
    <img src="http://www.gocompare.com/104900/105827/396346/student-car-insurance.png?view=Standard" alt="">


    <!--img src="http://buyersguide.caranddriver.com/media/assets/submodel/7677.jpg" alt="w4s"-->

    <a class="btn btn-primary" routerLink="/busqueda" routerLinkActive="active"> Busca tu viaje </a>
  </section>
</div>
