<h1 id="titulo" class="text-center">
  WHEELS 4 STUDENTS
</h1>
<div class="row">
  <section class="col-md-4">
    <ul id="list">
      <li class="">Viaja Facil de la universidad a tu casa</li>
      <li>Justo cuando necesites</li>
      <li>Sientete seguro</li>
      <li>Paga lo Justo</li>
      <li>Es mejor viajar con amigos</li>
      <li>Apoya al planeta</li>
    </ul>
  </section>
  <section class="col-md-7">
    <img src="http://www.gocompare.com/104900/105827/396346/student-car-insurance.png?view=Standard" alt="">
    <a class="btn btn-primary" routerLink="/busqueda" routerLinkActive="active"> Busca tu viaje </a>
  </section>
</div>