<form>
  <div class="form-group">
    <label for="universidad">universidad:</label>
    
    <select class="form-control" name="univerdidad" id="universidad">
      <option value="Javeriana"> Seleccione </option>
      <option value="Javeriana"> Javeriana </option>
      <option value="Javeriana"> Andes </option>
      <option value="Javeriana"> Distrital </option>
    </select>
  </div>

  <div class="form-group">
    <label for="direccion">Dirección:</label>
    <input class="form-control" id="direccion" type="text" placeholder="Dirección">
  </div>
  <button class="btn btn-primary"> Buscar </button>
</form>