<form>
  <div class="form-group">
    <label for="universidad">Elige tu Universidad de origen:</label>

    <select class="form-control" name="univerdidad" id="universidad">
      <option value="Javeriana"> Seleccione </option>
      <option value="Javeriana"> Javeriana </option>
      <option value="Javeriana"> Andes </option>
      <option value="Javeriana"> Distrital </option>
    </select>
  </div>

  <label for="direccion">Elige tu dirección de destino:</label>
  <div class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <select class="form-control" name="univerdidad" id="universidad">
        <option value="">  </option>
        <option value="Calle"> Calle </option>
        <option value="Carrera"> Carrrera </option>
        <option value="Avenida"> Avenida </option>
        <option value="AvCr"> Avenida Carrera </option>
        <option value="AvCll"> Avenida Calle</option>
        <option value="Crv"> Circunvalar </option>
        <option value="Dg"> Diagonal </option>
        <option value="Mz"> Manzana </option>
        <option value="Trv"> Transversal </option>
        <option value="Via"> Vía </option>
      </select>
        <div class="input-group-addon"></div>
        <input class="form-control" id="numero" type="text" placeholder="Número">
        <div class="input-group-addon">#</div>
        <input class="form-control" id="numero" type="text" placeholder="Número">
        <div class="input-group-addon">-</div>
        <input class="form-control" id="cll" type="text" placeholder="cll">
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-primary"> Buscar </button>
</form>