<form #busquedaForm="ngForm">
  <div class="form-group">
    <label for="universidad">Elige tu Universidad de origen:</label>

    <select class="form-control" name="univerdidad" required id="universidad" [(ngModel)]="universidadSeleccionada" >
      <option *ngFor= "let universidad of univerdidades" [ngValue]="universidad">  {{universidad.name}} </option>
      
    </select>
  </div>

  <label for="direccion">Elige tu dirección de destino:</label>
  <div class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <select required class="form-control" name="calle" id="calle" [(ngModel)]="cllSeleccionado">
        <option value="">  </option>
        <option value="Calle"> Calle </option>
        <option value="Carrera"> Carrrera </option>
        <option value="Avenida"> Avenida </option>
        <option value="AvCr"> Avenida Carrera </option>
        <option value="AvCll"> Avenida Calle</option>
        <option value="Crv"> Circunvalar </option>
        <option value="Dg"> Diagonal </option>
        <option value="Mz"> Manzana </option>
        <option value="Trv"> Transversal </option>
        <option value="Via"> Vía </option>
      </select>
        <div class="input-group-addon"></div>
        <input class="form-control" name="numero" required ([ngModel]) = "numero"  type="text" placeholder="Número">
        <div class="input-group-addon">#</div>
        <input class="form-control" required ([ngModel]) = "par1" name="numero2" type="text" placeholder="">
        <div class="input-group-addon">-</div>
        <input class="form-control" required name="numero3" ([ngModel]) = "par2" id="cll" type="text" placeholder="">
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-primary" (click) ="buscar()"  [disabled]="validarForm()"> Buscar </button>
</form>