<form>
  <div class="row">
    <div class="col-md-6">
    
     <div class="form-group">
           <label for="email" >Digita aquí el email con el cual estas registrado:</label>
           <input id="email" [(ngModel)]="email" type="text"  placeholder="Email" class="form-control">
     </div>
       
    <div class="form-group">
     <button class="btn btn-primary" (click)="loginUser()"> Login </button>
    </div>
    <div>
        <label for="msjRedRegistro" >Si no estas registrado puedes reaizarlo ingresando a este link</label>
        <a routerLink="/register" routerLinkActive="active"> <h3> Registro </h3> </a>
    </div>
    </div>
    <div class="col-md-6">
        <div> 
            <img src="http://www.gocompare.com/104900/105827/396346/student-car-insurance.png?view=Standard" alt="">
        </div>
    </div>
  </div>
  

</form> 